* {
    margin: 0;
    box-sizing: border-box;
}

/** Html & body style */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 62.5%;
    line-height: 1;

    color: #fff;

    overflow-x: hidden;

    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading-primary {
    font-family: "Bellefair", serif;
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: normal;
}

.subheading {
    font-size: 2.8rem;
    letter-spacing: 4.75px;
    text-transform: uppercase;
}

.text {
    font-size: 1.8rem;
}
