@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;

  font-family: "Barlow Condensed", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  max-height: fit-content;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#img-root {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: -1000;
}

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

@media (min-width: 112rem) and (min-height: 70rem) {
  html {
    font-size: 20px;
  }
}

@media (max-height: 52rem) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 48rem) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 72.5rem) and (min-height: 52.1rem) {
  html {
    font-size: 13px;
  }
}
